<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-8 col-lg-4">
            <div class="login-container">
                <h2 class="text-center mb-4">Login</h2>
                <form>
                    <div class="mb-3">
                        <label for="emailInput" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="Enter your email">
                    </div>
                    <div class="mb-3">
                        <label for="passwordInput" class="form-label">Password</label>
                        <input type="password" class="form-control" id="passwordInput" placeholder="Enter your password">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="rememberMeCheck">
                        <label class="form-check-label" for="rememberMeCheck">Remember me</label>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                    <div class="text-center mt-3">
                        <a href="/" class="text-decoration-none text-danger">Back To Home?</a>
                    </div>
                    <div class="text-center mt-3">
                        <a href="#" class="text-decoration-none">Forgot Password?</a>
                    </div>
                    <div class="text-center mt-2">
                        Don't have an account? <a href="#" class="text-decoration-none">Sign up</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
